body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

/* .container {
    max-width: 30%;
    margin: 0 auto;
    padding: 2%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
} */

h1 {
    font-size: 24px;
}

.input-container {
    display: flex;
    margin-top: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;


}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
    padding: 8px;
    background-color: #f9f9f9;
}

#delete-all {
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
}

  